In [1]:
import numpy as np
import pandas as pd
hb=pd.read_csv('car_actual.csv')
x=np.array(hb['speed'])
y=np.array(hb["dist"])
x=x.reshape(9,1)
y=y.reshape(9,1)
x_m=np.mean(x)
y_m=np.mean(y)
test = pd.read_csv('car_test.csv')
test_x = test.drop('id' , axis =1)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

reg=LinearRegression()
y_a = pd.read_csv('car_actual.csv')
reg=reg.fit(x,y)
pred_class=reg.predict(test_x)
rmse=np.sqrt(mean_squared_error(y,pred_class))
print(rmse)
r2=reg.score(x,y)
iris_pred = pd.DataFrame()
iris_pred['id'] = test['id']
iris_pred['dist'] = pred_class
iris_pred

9.765139351496684

   id       dist
0   1   9.537975
1   2  17.042722
2   4  34.553797
3   5  37.055380
4   6  42.058544
5   7  47.061709
6   8  49.563291
7   9  49.563291
8  10  49.563291

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd
reg=LinearRegression()
x = pd.read_csv('C:/Users/Administrator/machine/housing/train (2).csv')
train_x = x[['YrSold','MoSold' , 'LotArea' ,'BedroomAbvGr']]
train_y = x['SalePrice']
y = pd.read_csv('C:/Users/Administrator/machine/housing/test (1).csv')
test_x = y[['YrSold','MoSold' , 'LotArea' ,'BedroomAbvGr']]
id = y['Id']
reg=reg.fit(train_x,train_y)
pred_class=reg.predict(test_x)
df = pd.DataFrame()
df['Id'] = id
df['SalePrice'] = pred_class
df.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079976